<div>
    <login-buttons></login-buttons>
    <ul>
        <li *ngFor="let poem of poems | async">
            <a [routerLink]="['/poem', poem._id]">{{poem | poemTitle}}</a>
            <button
                *ngIf="currentUserCanRemovePoem(poem)"
                (click)="removePoem(poem)">X</button>
            <span *ngIf="poem.isComplete">Complete</span>
        </li>
    </ul>
    <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
    <a *ngIf="user" [routerLink]="['/poem']">New</a>
</div>